* {
	border: none;
    font-family: "JetBrainsMonoMedium ";
	min-height: 10px;
    border-radius: 0px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.1;
}

#window {
	transition: none;
    color: transparent;
	background: transparent;
}
#tags {
	font-size: 12px;
	margin-bottom: 0px;
	background: rgba(0, 0, 0, 0.8);
	transition: none;
}

#tags button {
	transition: none;
	color: #A6E3A1;
	background: transparent;
	font-size: 12px;
}

#tags button.occupied {
	transition: none;
	color: #F38BA8;
	background: transparent;
	font-size: 12px;
}

#tags button.focused {
	color: #000000;
  background-color: #F38BA8;
  border-radius: 0px;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
  color: #F38BA8;
}

#network {
	font-size: 12px;
	margin-left: 0px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 16px;
	margin-bottom: 0px;
	transition: none;
	color: #BD93F9;
	background:  #1f2335;
}

#pulseaudio {
	font-size: 12px;
	margin-left: 0px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
color: #BD93F9;
	background:  #1f2335;
}

#battery {
	font-size: 12px;
	margin-left: 0px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 15px;
	margin-bottom: 0px;
	transition: none;
	color: #BD93F9;
	background:  #1f2335;
}

#battery.charging, #battery.plugged {
	color: #000000;
  background-color: #A6E3A1;
}

#battery.critical:not(.charging) {
  background-color: #A6E3A1;
  color: #000000;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #BF616A;
    color: #A6E3A1;
  }
}

#backlight {
	border-radius: 5px;

	font-size: 12px;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
color: #BD93F9;
	background:  #1f2335;
}

#temperature{
	border-radius: 5px;
	font-size: 12px;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: #BD93F9;
	background:  #1f2335;
}

#clock {
	font-size: 12px;
	margin-left: 0px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: #BD93F9;
	background:  #1f2335;
}

#calendar {
  margin-left: 0px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  transition: none;
  color: #1f2335;
  background: #BD93F9;
}

#memory {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 12px;
	margin-left: -14px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	transition: none;
	color: #BD93F9;
	background:  #1f2335;
}

#cpu {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 12px;
	margin-left: 0px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	transition: none;
	color: #BD93F9;
	background:  #1f2335;
}

#tray {
	margin-left: 0px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	transition: none;
	color: #BD93F9;
	background:  #1f2335;
}

#custom-launcher {
	font-size: 14px;
	padding-left: 10px;
	padding-right: 5px;
	transition: none;
  color: #A36AC7;
  background: rgba(0, 0, 0, 0.8);
}

#custom-power {
	font-size: 14px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 0px;
	transition: none;
	color: #44475A;
	background: rgba(0, 0, 0, 0.8);
}

#custom-wallpaper {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: #000000;
	background: #0d15ff;
}

#custom-updates {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: #000000;
	background: #44475A;
}

#custom-media {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: #000000;
	background: #89B4FA;
}


#workspaces {
	font-size: 6px;
    border: 1px solid #282A36;
    border-radius: 20px;
    margin: 0px;
    font-weight: bolder;
	background-color: #282A36;
}

#workspaces button {
    background-color: #3b4261;
    padding:2px 0px;
    border-radius: 20px;
    border: 1px solid #1f2335;
    margin: 6px;
}

#workspaces button:hover{ 
    background-color: #6272a4; /* cor de fundo ao passar o mouse */         /* cor do texto ao passar o mouse */
    border: 1px solid #44475a; /* opcional: mudar a borda no hover */
}

#workspaces button.active {
    padding: 0 5px;
    margin: 8px;
    border-radius: 20px;
    border: 1px solid #BD93F9;
    color: #fd0000;
}
#workspaces button.visible:not(.active) {
    background: linear-gradient(to right, #BD93F9);
    color: #222;
}

#workspaces button.empty {
    color: #1f2335;
    font-weight: bolder;
}

#workspaces button.urgent {
    /*background:linear-gradient(to right, rgba(200, 130, 130, 0.8 ), rgba(250, 230, 230, 0.8));*/
    border: 1px solid #dd7777;
    color: #1f2335;
}


#workspaces button.visible {
    background:linear-gradient(to right,#BD93F9);
    color: #222;
}
